$borderColor: #b6b6b6;
.fixed-table__header {
  z-index: 2;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 -1px 3px 0 rgba(0, 0, 0, 0.1);
  &-moments {
    z-index: 1;
    box-sizing: border-box;
    display: inline-block;
    // TODO: propsに
    height: 30px;
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  &-title {
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    // TODO: propsに
    height: 30px;
    vertical-align: top;
    text-align: center;
    // TODO: propsに
    line-height: 30px;
    background-color: white;
    z-index: 2;
    border-bottom: solid 1px $borderColor;
    border-right: solid 1px $borderColor;
  }
}
