<template lang='pug'>
v-list(dense)
  v-list-tile(v-for='menu in menuItems' :to='menu.href' :key="menu.title")
    v-list-tile-action
      v-icon {{menu.icon}}
    v-list-tile-content
      v-list-tile-title {{menu.title}}
</template>

<script lang="ts">
import Component from "vue-class-component";
import Vue from "vue";
import Paths from "../../utils/paths";

@Component
export default class SideBar extends Vue {
  menuItems = Paths;
}
</script>

<style>
</style>
