body,
html,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, "Noto Sans JP", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  color: #2c3e50;
}
main.v-content {
  /* drawerとの位置関係用 */
  position: relative;
  height: 100%;
  max-width: initial;
  margin: 0;
  padding: 0;
}
#nav {
  padding: 30px;
  box-sizing: border-box;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
$borderColor: #b6b6b6;
$hoverColor: rgba(255, 138, 80, 0.22);
div.fixed-table {
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  border: solid 1px #dcdcdc;
  height: 100%;
  &__months,
  &__days {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  &__months {
    border-bottom: solid 1px $borderColor;
    height: 30px;
  }
  &__cell {
    box-sizing: border-box;
    height: 30px;
    display: inline-block;
    border-right: solid 1px $borderColor;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-bottom: solid 1px $borderColor;
  }
}

