<template>
  <div class="main_page">
    <div class="project--btns">
      <v-btn x-large class="project--btns__add" color="orange darken-2" dark
        >プロジェクト追加</v-btn
      >
    </div>
    <v-card class="projects--container">
      <v-card class="projects--container__actives">
        <v-card-title>実施中プロジェクト一覧</v-card-title>
        <v-container>
          <v-row dense>
            <v-col
              :key="`active-col-${project.id}`"
              v-for="project in projects"
              cols="12"
              sm="6"
              md="4"
              lg="3"
            >
              <v-card
                :to="{ name: 'Wbs', params: { id: project.id } }"
                :key="`active-card-${project.id}`"
                dark
                :color="project.themeColor"
                max-width="300"
              >
                <v-card-title>{{ project.name }}</v-card-title>
                <v-card-text
                  >{{ project.start }}〜{{ project.end }}</v-card-text
                >
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card
        v-if="archiveProjects.length !== 0"
        class="projects--container__archives"
      >
        <v-card-title>終了プロジェクト一覧</v-card-title>
        <v-container>
          <v-row dense>
            <v-col
              :to="{ name: 'Wbs', params: { id: project.id } }"
              :key="`archive-col-${project.id}`"
              v-for="project in archiveProjects"
              cols="12"
              sm="6"
              md="4"
              lg="3"
            >
              <v-card
                :color="project.themeColor"
                dark
                :key="`archive-card-${project.id}`"
                max-width="300"
              >
                <v-card-title>{{ project.name }}</v-card-title>
                <v-card-text>end</v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-card>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "@vue/composition-api";
import { useStore } from "@/store";
import Project from "@/interfaces/project_interface";

export default defineComponent({
  name: "Home",
  setup() {
    const store = useStore();
    const projects = computed(() => store.getters.projects);
    // TODO: アーカイブ済みプロジェクトを取得する
    const archiveProjects: Project[] = [];
    return {
      projects,
      archiveProjects
    };
  }
});
</script>

<style scoped lang="scss">
.main_page {
  background-color: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.project--btns {
  text-align: center;
  width: 100%;
  padding: 32px;
  position: relative;
}
.projects--container {
  background-color: rgb(241, 241, 241);
  width: 100%;
  flex: 1;
  overflow: auto;
  &__actives {
    margin: 3px 0;
    position: relative;
  }
  &__archives {
    position: relative;
    margin-bottom: 40px;
  }
}
</style>
