<template>
  <div class="wbs_table">
    <task-table />
  </div>
</template>

<script lang="ts">
import TaskTable from "@/components/task_table/TaskTable.vue";
export default {
  name: "Wbs",
  components: {
    TaskTable
  }
};
</script>

<style scoped lang="scss">
div.wbs_table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
</style>
