<template>
  <div class="task__table" ref="topContainer" @wheel.prevent="wheelEvent">
    <v-toolbar
      class="task__table--toolbar"
      dense
      flat
      color="rgb(241, 241, 241)"
    >
      <v-btn
        @click="openTaskDialogEvent(true)"
        dark
        :color="themeColor"
        elevation="1"
      >
        <v-icon>mdi-plus-circle</v-icon>
        新規タスク</v-btn
      >
      <v-btn
        dark
        :color="themeColor"
        elevation="1"
        class="ml-2"
        @click="openMileStoneDialogEvent(true)"
      >
        <v-icon>mdi-plus-circle</v-icon>
        新規マイルストーン
      </v-btn>
      <v-divider :vertical="true" class="ml-2" />
      <div class="table--display__switches ml-2">
        <v-switch
          class="ml-2 mr-3"
          dense
          :hide-details="true"
          :ripple="false"
          :color="themeColor"
          v-model="state.isInazumaShow"
          :label="`稲妻線`"
        />
      </div>
      <v-spacer />
      <v-btn
        @click="openProjectDialogEvent"
        dark
        :color="themeColor"
        elevation="1"
      >
        <v-icon>mdi-circle-edit-outline</v-icon>
        プロジェクト編集
      </v-btn>
    </v-toolbar>
    <div
      draggable="true"
      class="task__table--header-col-slider"
      @drag="colSliderDragEvent"
      @dragstart="dragStartEvent"
      @dragend="dragEndEvent"
      :style="{ left: `${state.dragSpacerPos}px` }"
    ></div>
    <task-table-header
      :projectName="projectName"
      :headerHeight="rowHeaderHeight"
      :cellWidth="cellWidth"
      :colHeaderWidth="state.colHeaderWidth"
      :bodyWidth="state.bodyWidth"
      :inazumaLeft="nowLineLeft"
      :totalWidth="tableTotalWidth"
      :isInazumaShow="state.isInazumaShow"
      :openMileStoneDialogEvent="openMileStoneDialogEvent"
      :months="betweenMonths"
      :days="between"
      :mileStones="state.mileStones"
      :scrollX="state.scrollX"
    />
    <task-table-content
      :cellWidth="cellWidth"
      :colHeaderWidth="state.colHeaderWidth"
      :bodyHeight="state.bodyHeight"
      :bodyWidth="state.bodyWidth"
      :rowMouseEnterEvent="rowMouseEnterEvent"
      :rowMouseLeaveEvent="rowMouseLeaveEvent"
      :calcTaskLength="calcTaskLength"
      :hoverRow="state.hoverRow"
      :openTaskDialogEvent="openTaskDialogEvent"
      :tasks="state.tasks"
      :nowLineLeft="nowLineLeft"
      :inazumaPoints="inazumaPoints"
      :tableTotalWidth="tableTotalWidth"
      :between="between"
      :mileStones="state.mileStones"
      :isInazumaShow="state.isInazumaShow"
      :calcTaskLineLeft="calcTaskLineLeft"
      :scrollX="state.scrollX"
      :scrollY="state.scrollY"
      :hexColor="themeColor"
    />
    <task-dialog
      :task="state.isNewTask ? {} : state.tasks[state.selectedTaskIdx]"
      :dialog="state.taskDialog"
      :isNew="state.isNewTask"
      @close="closeTaskDialogEvent"
      @submit="
        task =>
          state.isNewTask ? taskAddCallback(task) : taskUpdateCallback(task)
      "
      @delete="taskDeleteCallback"
    />
    <mile-stone-dialog
      :milestone="
        state.isNewMileStone ? {} : state.mileStones[state.selectedMileStoneDay]
      "
      :dialog="state.mileStoneDialog"
      :isNew="state.isNewMileStone"
      @delete="mileStoneDeleteCallback"
      @close="closeMileStoneDialogEvent"
      @submit="
        milestone =>
          state.isNewMileStone
            ? mileStoneAddCallback(milestone)
            : mileStoneUpdateCallback(milestone)
      "
    />
    <project-dialog
      :project="computedProject"
      :dialog="state.projectDialog"
      @close="closeProjectDialogEvent"
      @submit="closeProjectDialogEvent"
    />
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  onUnmounted,
  reactive,
  ref,
  SetupContext,
  watch
} from "@vue/composition-api";
import { useStore } from "@/store";
import moment, { Moment } from "moment";
import "moment/locale/ja";
import TaskDialog from "@/components/dialogs/TaskDialog.vue";
import { MileStone, ProjectTask } from "@/interfaces/task_interfaces";
import MileStoneDialog from "@/components/dialogs/MileStoneDialog.vue";
import { computedCellSize, computedTableHeaderHeight } from "@/logics/consts";
import { INIT_COL_HEADER_WIDTH } from "@/consts";
import { inazumaCalculator } from "@/logics/displayCalculator";
import Project from "@/interfaces/project_interface";
import ProjectDialog from "@/components/dialogs/ProjectDialog.vue";
import { allPhotos } from "@/graphql/sample";
import TaskTableHeader from "@/components/task_table/header/TaskTableHeader.vue";
import { MileStoneState } from "@/props/states";
import Vue from "vue";
import Cell from "@/components/task_table/common/Cell.vue";
import TaskTableContent from "@/components/task_table/content/TaskTableContent.vue";
import {
  endDate,
  startDate,
  startToEndEveryDay,
  startToEndMonths
} from "@/logics/project";
import { hex2rgbaString } from "@/logics/utilFunctions";

const dummyTasks: ProjectTask[] = [...Array(51)].map(
  (_, n: number): ProjectTask => {
    return {
      name: `${n}番目のタスク`,
      assign: { name: "藤原", id: 1 },
      start: moment("2020-02-11"),
      end: moment("2020-02-27"),
      progress: n
    };
  }
);

const dummyMileStones = [
  {
    day: moment("2020-02-15"),
    desc: "UI確認"
  },
  { day: moment("2020-02-20"), desc: "UI確認2" }
];

interface TaskTableState {
  tasks: ProjectTask[];
  mileStones: MileStoneState;
  selectedTaskIdx: number;
  selectedMileStoneDay: string;
  isNewTask: boolean;
  isNewMileStone: boolean;
  hoverRow: number;
  taskDialog: boolean;
  mileStoneDialog: boolean;
  projectDialog: boolean;
  dragSpacerPos: number;
  bodyHeight: number;
  bodyWidth: number;
  isDragging: boolean;
  colHeaderWidth: number;
  isInazumaShow: boolean;
  scrollX: number;
  scrollY: number;
}

export default defineComponent({
  name: "task-table",
  components: {
    TaskDialog,
    MileStoneDialog,
    ProjectDialog,
    TaskTableHeader,
    TaskTableContent,
    Cell
  },
  setup(_, context: SetupContext) {
    const store = useStore();
    const topContainer = ref<HTMLDivElement>(null);

    const state = reactive<TaskTableState>({
      tasks: dummyTasks,
      mileStones: dummyMileStones.reduce(
        (acc: MileStoneState, m: MileStone): MileStoneState => {
          acc[m.day.format("YYYY-MM-DD")] = m;
          return acc;
        },
        {}
      ),
      selectedTaskIdx: -1,
      selectedMileStoneDay: "",
      isNewTask: true,
      isNewMileStone: true,
      hoverRow: -1,
      taskDialog: false,
      mileStoneDialog: false,
      projectDialog: false,
      colHeaderWidth: INIT_COL_HEADER_WIDTH,
      dragSpacerPos: INIT_COL_HEADER_WIDTH,
      bodyHeight: 0,
      bodyWidth: 0,
      isDragging: false,
      isInazumaShow: true,
      scrollX: 0,
      scrollY: 0
    });
    const idParams = computed(() => context.root.$route.params.id);
    const cellWidth = computedCellSize;
    const rowHeaderHeight = computedTableHeaderHeight;
    const computedProject = computed<Project>(
      (): Project => {
        const project = store.getters.projects[idParams.value];
        if (project) return project;
        return {
          id: -1,
          name: "",
          start: "",
          end: "",
          themeColor: ""
        };
      }
    );
    const between = computed(() => startToEndEveryDay(computedProject.value));
    const start = computed(() => startDate(computedProject.value));
    const end = computed(() => endDate(computedProject.value));
    const themeColor = computed(() => computedProject.value.themeColor);

    const betweenMonths = computed(() =>
      startToEndMonths(computedProject.value)
    );
    const tableTotalWidth = computed(
      () => between.value.length * cellWidth.value
    );
    const projectName = computed(() => computedProject.value.name);

    const nowLineLeft = computed(() => {
      const now = moment();
      if (start.value < now) {
        return now.diff(start.value, "days") * cellWidth.value;
      }
      return 0;
    });

    const calcTaskLineLeft = computed(() => (day: Moment): number => {
      // TODO: 開始日時がプロジェクト開始日時またいでいる場合おかしくなる
      if (start.value < day) {
        return day.diff(start.value, "days") * cellWidth.value;
      }
      return 0;
    });

    const calcTaskLength = computed(
      // TODO: 開始日時がプロジェクト開始日時またいでいる場合おかしくなる
      () => (start: Moment, end: Moment): number => {
        const endNextDay = end
          .clone()
          .add(1, "days")
          .startOf("day");
        if (start < endNextDay) {
          return endNextDay.diff(start, "days") * cellWidth.value;
        }
        return 0;
      }
    );

    const inazumaPoints = computed(() => {
      return inazumaCalculator(
        start.value,
        end.value,
        state.tasks as ProjectTask[]
      );
    });

    watch(computedProject, newVal => {
      // reloadTask();
    });

    const calcBodyWidth = () => {
      state.bodyWidth = topContainer.value!!.clientWidth - state.colHeaderWidth;
    };

    // TODO: task__tableの高さをバチッと決めてそこから計算したほうが確実
    // Notice: この計算自体はtask__tableの高さを自動計算する場合有用
    // 数字決め打ち気持ち悪いがvuetifyのheaderの高さはそうそう変わらないはずなのでその場しのぎではOKなはず
    // また、containerをrelativeにした影響でそこの高さ計算がヘッダー含んじゃってるので二倍して引く
    const calcBodyHeight = () => {
      state.bodyHeight =
        window.innerHeight -
        topContainer.value!!.offsetTop -
        rowHeaderHeight.value -
        36 -
        48;
    };

    const resizeEvent = () => {
      calcBodyWidth();
      calcBodyHeight();
    };

    const scrollXEvent = (e: WheelEvent) => {
      state.scrollX = e.deltaX;
    };

    const scrollYEvent = (e: WheelEvent) => {
      state.scrollY = e.deltaY;
    };

    const rowMouseEnterEvent = (rowNum: number) => {
      state.hoverRow = rowNum;
    };

    const rowMouseLeaveEvent = () => {
      state.hoverRow = -1;
    };

    const { result } = allPhotos();

    watch(result, () => {
      // resultがrefになっている
      console.log(result.value);
    });

    onMounted(() => {
      calcBodyWidth();
      calcBodyHeight();
      window.addEventListener("resize", resizeEvent);
    });

    onUnmounted(() => {
      window.removeEventListener("resize", resizeEvent);
    });

    const wheelEvent = (e: WheelEvent) => {
      scrollXEvent(e);
      scrollYEvent(e);
    };

    const dragStartEvent = (e: DragEvent) => {
      const ghostElem = document.createElement("span");
      ghostElem.style.display = "none";
      e.dataTransfer!!.setDragImage(ghostElem, 0, 0);
      state.isDragging = true;
    };
    const dragEndEvent = (e: DragEvent) => {
      state.isDragging = false;
      state.colHeaderWidth = state.dragSpacerPos;
      calcBodyWidth();
    };
    const colSliderDragEvent = (e: DragEvent) => {
      if (state.isDragging && e.x !== 0) {
        state.dragSpacerPos = e.x;
      }
    };
    const openTaskDialogEvent = (isNew: boolean, idx?: number) => {
      state.isNewTask = isNew;
      // 更新時のダイアログオープンだとしてもidxが不正な場合は-1をセット
      // 実質的にはTSのnullチェック回避
      if (isNew || idx === undefined) {
        state.selectedTaskIdx = -1;
      } else {
        state.selectedTaskIdx = idx;
      }
      state.taskDialog = true;
    };

    const closeTaskDialogEvent = () => {
      state.taskDialog = false;
      state.selectedTaskIdx = -1;
      state.isNewTask = false;
    };

    const openMileStoneDialogEvent = (isNew: boolean, day?: string) => {
      state.isNewMileStone = isNew;
      if (isNew || !day) {
        state.selectedMileStoneDay = "";
      } else {
        state.selectedMileStoneDay = day;
      }
      state.mileStoneDialog = true;
    };

    const closeMileStoneDialogEvent = () => {
      state.selectedMileStoneDay = "";
      state.isNewMileStone = false;
      state.mileStoneDialog = false;
    };

    const openProjectDialogEvent = () => {
      state.projectDialog = true;
    };

    const closeProjectDialogEvent = () => {
      state.projectDialog = false;
    };

    const taskUpdateCallback = (task: ProjectTask) => {
      state.tasks.splice(state.selectedTaskIdx, 1, { ...task });
      state.selectedTaskIdx = -1;
      state.isNewTask = false;
      state.taskDialog = false;
    };

    const taskAddCallback = (task: ProjectTask) => {
      // TODO: 後で挿入位置を変えられるようにしたいところ(大項目追加後？)
      state.tasks = [...state.tasks, { ...task }];
      state.selectedTaskIdx = -1;
      state.isNewTask = false;
      state.taskDialog = false;
    };

    const taskDeleteCallback = () => {
      if (
        confirm(
          `${
            state.tasks[state.selectedTaskIdx].name
          }を削除します。よろしいですか？`
        )
      ) {
        state.tasks = state.tasks.filter(
          (_, idx) => idx !== state.selectedTaskIdx
        );
        state.selectedTaskIdx = -1;
        state.isNewTask = false;
        state.taskDialog = false;
      }
    };

    const mileStoneUpdateCallback = (milestone: MileStone) => {
      const newDay = milestone.day.format("YYYY-MM-DD");
      Vue.delete(state.mileStones, state.selectedMileStoneDay);
      Vue.set(state.mileStones, newDay, { ...milestone });
      state.selectedMileStoneDay = "";
      state.isNewMileStone = false;
      state.mileStoneDialog = false;
    };

    const mileStoneAddCallback = (milestone: MileStone) => {
      const newDay = milestone.day.format("YYYY-MM-DD");
      Vue.set(state.mileStones, newDay, { ...milestone });
      state.selectedMileStoneDay = "";
      state.isNewMileStone = false;
      state.mileStoneDialog = false;
    };

    const mileStoneDeleteCallback = () => {
      if (
        confirm(
          `${state.mileStones[state.selectedMileStoneDay].day.format(
            "YYYY年MM月DD日"
          )}のマイルストーンを削除します。よろしいですか？`
        )
      ) {
        Vue.delete(state.mileStones, state.selectedMileStoneDay);
        state.selectedMileStoneDay = "";
        state.isNewMileStone = false;
        state.mileStoneDialog = false;
      }
    };

    return {
      state,
      nowLineLeft,
      cellWidth,
      between,
      betweenMonths,
      tableTotalWidth,
      projectName,
      rowHeaderHeight,
      calcTaskLineLeft,
      calcTaskLength,
      inazumaPoints,
      topContainer,
      computedProject,
      themeColor,
      wheelEvent,
      colSliderDragEvent,
      dragStartEvent,
      dragEndEvent,
      openTaskDialogEvent,
      closeTaskDialogEvent,
      taskUpdateCallback,
      taskAddCallback,
      taskDeleteCallback,
      mileStoneUpdateCallback,
      mileStoneAddCallback,
      mileStoneDeleteCallback,
      openMileStoneDialogEvent,
      closeMileStoneDialogEvent,
      rowMouseEnterEvent,
      rowMouseLeaveEvent,
      openProjectDialogEvent,
      closeProjectDialogEvent
    };
  }
});
</script>

<style lang="scss" scoped>
header.task__table--toolbar {
  div.v-toolbar__content {
    div.table--display__switches {
      background-color: rgba(0, 0, 0, 0.1);
      border: 0;
      border-radius: 20px;
      height: 36px;
      div.v-input--switch {
        height: 100%;
      }
    }
  }
}
</style>
