.beetle_wrapper {
  width: 400px;
  height: 600px;
  position: absolute;
}

.beetle_wrapper .beetle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px;
  height: 540px;
  overflow: hidden;
}

.beetle_wrapper .beetle.right {
  left: 200px;
  transform: scale(-1, 1) translateY(-50%);
}

.beetle_wrapper .horn {
  position: absolute;
  top: 30px;
  right: -8px;
  width: 16px;
  border-top: 120px solid #534031;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  height: 0;
}

.beetle_wrapper .horn:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: -20%;
  width: 16px;
  height: 120px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
}

.beetle_wrapper .horn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 75px;
  width: 16px;
  height: 40px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 80%);
  transform: skewX(10deg);
}

.beetle_wrapper .horn_bottom {
  position: absolute;
  top: 120px;
  right: -10px;
  width: 12px;
  border-bottom: 40px solid #392c22;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
}

.beetle_wrapper .eye {
  position: absolute;
  top: 150px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background: #392c22;
  transform: rotate(10deg);
}

.beetle_wrapper .eye:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -1px;
  background: #000;
  width: 12px;
  height: 10px;
  border-radius: 7px 5px;
  transform: rotate(-30deg);
}

.beetle_wrapper .eye:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 4px;
  height: 3px;
  border-radius: 4px;
  opacity: 0.8;
}

.beetle_wrapper .horn_top {
  position: absolute;
  top: 20px;
  right: 4px;
  width: 16px;
  height: 20px;
  background: #392c22;
  transform: rotate(-45deg);
}

.beetle_wrapper .horn_top:before {
  content: "";
  position: absolute;
  top: -7px;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #392c22 transparent transparent;
  transform: rotate(15deg);
}

.beetle_wrapper .horn_top:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #392c22 transparent transparent transparent;
  transform: rotate(-15deg);
}

.beetle_wrapper .horn2 {
  position: absolute;
  top: 130px;
  right: 20px;
  width: 16px;
  height: 10px;
  border-style: solid;
  border-color: #594535;
  border-width: 0 0 3px 5px;
  border-radius: 4px;
  transform: scale(1, 1.2) rotate(5deg);
}

.beetle_wrapper .horn2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -2px;
  width: 16px;
  height: 7px;
  border-style: solid;
  border-color: #594535;
  border-width: 3px 2px 0 0;
  border-radius: 4px;
}

.beetle_wrapper .horn3 {
  position: absolute;
  top: 140px;
  right: -8px;
  width: 16px;
  height: 36px;
  background: #594535;
  transform: scale(1, 1.2);
  overflow: hidden;
}

.beetle_wrapper .horn3:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 140%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
}

.beetle_wrapper .horn3_top {
  position: absolute;
  top: 124px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #49392b transparent transparent;
  transform: rotate(15deg);
}

.beetle_wrapper .head {
  position: absolute;
  top: 164px;
  right: -75px;
  width: 150px;
  height: 80px;
  background: #594535;
  border-top-left-radius: 110px 60px;
  border-bottom-left-radius: 30px;
  transform: scale(1, 1.25);
  overflow: hidden;
}

.beetle_wrapper .head:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 120px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 60%);
}

.beetle_wrapper .head_bottom {
  position: absolute;
  top: 240px;
  right: -35px;
  width: 70px;
  height: 20px;
  background: #594535;
  border-radius: 50%;
  transform: scale(1, 1.3);
  box-shadow: 0px 2px 3px 0px #4b3a2c;
}

.beetle_wrapper .head_light {
  position: absolute;
  top: 200px;
  right: -40px;
  width: 80px;
  height: 60px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 80%);
}

.beetle_wrapper .head_light:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 0;
  width: 60px;
  height: 30px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
}

.beetle_wrapper .body {
  position: absolute;
  top: 260px;
  right: 1px;
  width: 80px;
  height: 180px;
  background: red;
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 55px 35px;
  border-bottom-left-radius: 70px 80px;
  background: linear-gradient(to bottom, #49392b 0%, #594535 20%, #292018 100%);
  box-shadow: 2px -3px 5px 0px rgba(89, 69, 53, 0.6) inset, 3px -4px 5px 0px rgba(255, 255, 255, 0.3) inset, -2px 2px 2px 0px #433428 inset;
}

.beetle_wrapper .neck {
  position: absolute;
  top: 243px;
  right: -45px;
  width: 90px;
  height: 32px;
  background: #69513f;
  background: linear-gradient(to right, #49392b 0%, #594535 50%, #49392b 100%);
  border-radius: 30px 60px;
  box-shadow: 0px -2px 2px 0px #433428 inset;
}

.beetle_wrapper .body_base {
  position: absolute;
  top: 260px;
  right: -80px;
  width: 160px;
  height: 180px;
  background: red;
  border-top-left-radius: 40px 30px;
  border-bottom-left-radius: 70px 80px;
  background: linear-gradient(to bottom, #513f30 0%, #292018 100%);
}

.beetle_wrapper .body_light {
  position: absolute;
  top: 276px;
  right: -70px;
  width: 140px;
  height: 30px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
  transform: rotate(10deg);
}

.beetle_wrapper .body_light2_left {
  position: absolute;
  top: 264px;
  right: 0;
  width: 80px;
  height: 180px;
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 55px 35px;
  border-bottom-left-radius: 70px 80px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 60%);
}

.beetle_wrapper .body_light2_left:before {
  content: "";
  position: absolute;
  top: 40px;
  right: 36px;
  width: 10px;
  height: 70px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
}

.beetle_wrapper .body_light2_left:after {
  content: "";
  position: absolute;
  top: 30px;
  right: 0px;
  width: 30px;
  height: 120px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
}

.beetle_wrapper .body_light2_right {
  position: absolute;
  top: 294px;
  right: -10px;
  width: 80px;
  height: 120px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
}

.beetle_wrapper .body_light2_right:before {
  content: "";
  position: absolute;
  top: 86px;
  right: 36px;
  width: 30px;
  height: 40px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
  transform: skewX(15deg);
}

.beetle_wrapper .foot1_1 {
  position: absolute;
  right: 70px;
  top: 190px;
  width: 20px;
  height: 50px;
  border-radius: 8px;
  border-top-left-radius: 10px 40px;
  transform: rotate(-60deg);
  background: #392c22;
}

.beetle_wrapper .foot1_2 {
  position: absolute;
  top: 130px;
  right: 98px;
  width: 12px;
  height: 0px;
  border-top: 72px solid #392c22;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 4px;
  border-bottom-left-radius: 10px 20px;
  border-top-right-radius: 10px 20px;
  border-bottom-right-radius: 10px 20px;
  transform: rotate(-15deg);
}

.beetle_wrapper .foot1_2:before {
  content: "";
  position: absolute;
  top: -64px;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: transparent #392c22 transparent transparent;
}

.beetle_wrapper .foot1_2:after {
  content: "";
  position: absolute;
  top: -45px;
  left: -11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: transparent #392c22 transparent transparent;
}

.beetle_wrapper .foot1_3 {
  position: absolute;
  top: 82px;
  right: 106px;
  width: 20px;
  height: 56px;
  border-color: #392c22;
  border-style: solid;
  border-width: 2px 0 0 2px;
  border-top-left-radius: 20px 40px;
  transform: rotate(-30deg);
}

.beetle_wrapper .foot1_3:before {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 20px;
  height: 46px;
  border-color: #392c22;
  border-style: solid;
  border-width: 2px 0 0 2px;
  border-top-left-radius: 30px 50px;
}

.beetle_wrapper .foot1_3:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -7px;
  width: 0px;
  height: 38px;
  border: 4px dotted #392c22;
  transform: rotate(13deg) scale(0.7, 0.8);
}

.beetle_wrapper .foot2_1 {
  position: absolute;
  right: 50px;
  top: 270px;
  width: 52px;
  height: 16px;
  border-top-left-radius: 20px 10px;
  border-bottom-left-radius: 24px 20px;
  transform: rotate(-15deg);
  background: #392c22;
}

.beetle_wrapper .foot2_2 {
  position: absolute;
  top: 280px;
  right: 110px;
  width: 10px;
  height: 55px;
  border-radius: 8px;
  transform: rotate(30deg);
  background: #392c22;
}

.beetle_wrapper .foot2_2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #392c22 transparent;
  transform: rotate(-20deg);
}

.beetle_wrapper .foot2_2:after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #392c22;
  transform: rotate(30deg) scale(1.3, 1);
}

.beetle_wrapper .foot2_3 {
  position: absolute;
  top: 330px;
  right: 134px;
  width: 5px;
  height: 45px;
  border-color: #392c22;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-bottom-left-radius: 50px 80px;
  transform: rotate(20deg);
}

.beetle_wrapper .foot2_3:before {
  content: "";
  position: absolute;
  bottom: 2px;
  right: -6px;
  width: 10px;
  height: 52px;
  border-color: #392c22;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-bottom-left-radius: 20px 40px;
}

.beetle_wrapper .foot2_3:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -4px;
  width: 0px;
  height: 32px;
  border-right: 7px dotted #392c22;
  transform: scale(0.9, 0.7);
}

.beetle_wrapper .foot3_1 {
  position: absolute;
  right: 50px;
  top: 366px;
  width: 54px;
  height: 18px;
  border-top-left-radius: 20px 10px;
  border-bottom-left-radius: 24px 20px;
  transform: rotate(-30deg);
  background: #392c22;
}

.beetle_wrapper .foot3_2 {
  position: absolute;
  top: 388px;
  right: 96px;
  width: 8px;
  height: 0px;
  border-top: 72px solid #392c22;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 4px;
  transform: rotate(10deg);
}

.beetle_wrapper .foot3_2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #392c22 transparent;
  transform: rotate(-20deg);
}

.beetle_wrapper .foot3_2:after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #392c22;
  transform: rotate(30deg) scale(1.3, 1);
}

.beetle_wrapper .foot3_3 {
  position: absolute;
  top: 460px;
  right: 112px;
  width: 3px;
  height: 70px;
  border-color: #392c22;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-bottom-left-radius: 10px 80px;
  transform: rotate(10deg);
}

.beetle_wrapper .foot3_3:before {
  content: "";
  position: absolute;
  bottom: 2px;
  right: -7px;
  width: 10px;
  height: 52px;
  border-color: #392c22;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-bottom-left-radius: 20px 40px;
}

.beetle_wrapper .foot3_3:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 1px;
  width: 0px;
  height: 50px;
  border-right: 6px dotted #392c22;
  transform: scale(0.8, 1);
}