.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.7);
  z-index: 10;
  display: flex;
  overflow: auto;
  transition: .3s ease-in-out;
}

.modal__content {
  width: 100%;
  padding: 40px 0;
  margin: auto;
  transform: translate3D(0, -30px, 0);
  transition: transform .3s ease-in-out;
}

.modal--visible {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  transform: translate3D(0, 0, 0);
}
