<template lang='pug'>
  div.home
    img(alt="Vue logo" src="../../assets/logo.png")
    div.hello
      h1 {{ msg }}
      h2 Essential Links
      ul
        li
          a(href="https://vuejs.org" target="_blank") Core Docs
        li
          a(href="https://forum.vuejs.org" target="_blank") Forum
        li
          a(href="https://chat.vuejs.org" target="_blank") Community Chat
        li
          a(href="https://twitter.com/vuejs" target="_blank") Twitter
        br
        li
          a(href="http://vuejs-templates.github.io/webpack/" target="_blank") Docs for This Template
      h2 Ecosystem
      ul
        li
          a(href="http://router.vuejs.org/" target="_blank") vue-router
        li
          a(href="http://vuex.vuejs.org/" target="_blank") vuex
        li
          a(href="http://vue-loader.vuejs.org/" target="_blank") vue-loader
        li
          a(href="https://github.com/vuejs/awesome-vue" target="_blank") awesome-vue
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';
import moment from 'moment-timezone';

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;

  // msg = moment(Date.now())
  //   .tz("Asia/Tokyo")
  //   .format("YYYY/MM/DD");
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
