<template>
  <div id="vue-quill-editor" ref="quillEditor"></div>
</template>

<script lang="ts">
import Quill from "quill";
import { defineComponent, reactive, onMounted, SetupContext, ref } from "vue";

interface State {
  editor: Quill | null;
}
interface Props {
  value: string;
}

export default defineComponent({
  props: {
    value: {
      type: String,
      default: ""
    }
  },
  setup(props: Props, ctx: SetupContext) {
    const state = reactive<State>({ editor: null });
    const quillEditor = ref<HTMLDivElement>();
    const update = () => {
      if (!state.editor) return;
      ctx.emit(
        "input",
        state.editor.getText() ? state.editor.root.innerHTML : ""
      );
    };

    onMounted(() => {
      if (!quillEditor.value) return;
      state.editor = new Quill(quillEditor.value, {
        modules: {
          toolbar: [
            [{ header: [1, 2, 3, 4, false] }],
            ["bold", "italic", "underline"]
          ]
        },
        theme: "bubble",
        formats: ["bold", "underline", "header", "italic"]
      });
      state.editor.root.innerHTML = props.value;
      state.editor.on("text-change", () => update());
    });
    return {
      state,
      quillEditor,
      update
    };
  }
});
</script>
