<template lang="pug">
v-layout
  v-flex(xs12 sm6 offset-sm3)
    v-card
      v-card-media(:src="getImgPath()" height="200px")
      v-card-title(primary-title)
        div
          h3.headline.mb-0 {{currentTitle}}
      v-card-actions.img-btns
        v-btn(flat color="orange" @click='back' :disabled='backDisabled') Back
        v-btn(flat color="orange" @click='next' :disabled='nextDisabled') Next
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

const Imgs: { [key: number]: string } = {
  1: "First",
  2: "Second",
  3: "Third",
  4: "Fourth"
};

@Component
export default class Viewer extends Vue {
  currentId = 1;
  currentTitle = Imgs[1];
  nextDisabled = false;
  backDisabled = true;

  getImgPath() {
    return require(`../../assets/${this.currentId}.jpg`);
  }

  next() {
    // IDが1の場合はそれ以上進めないのでボタンを非有効化
    if (this.currentId === 1) {
      this.backDisabled = false;
    }

    // 現在のIDが3の場合は次にインクリメントすると進めなくなるのでボタンを非有効化
    if (this.currentId === 3) {
      this.nextDisabled = true;
    }

    // 現在のIDが4な場合はそれ以上進めないので終わり
    if (this.currentId === 4) {
      return;
    }

    this.currentId++;
    this.currentTitle = Imgs[this.currentId];
  }

  back() {
    if (this.currentId === 4) {
      this.nextDisabled = false;
    }

    if (this.currentId === 2) {
      this.backDisabled = true;
    }

    if (this.currentId === 1) {
      return;
    }

    this.currentId--;
    this.currentTitle = Imgs[this.currentId];
  }
}
</script>

<style lang="scss" scoped>
.img-btns {
  justify-content: space-between;
}
</style>


