<template>
  <div id="app">
    <quill-editor v-model="state.quillText" @input="input" />
    <div>{{ state.quillText }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import QuillEditor from "./components/QuillEditor.vue";

export default defineComponent({
  name: "App",
  components: {
    QuillEditor
  },
  setup() {
    const state = reactive({ quillText: "" });
    const input = (txt: string) => {
      console.log(txt);
    };
    return { state, input };
  }
});
</script>

<style lang="scss">
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#vue-quill-editor {
  border: solid;
}
</style>
