<template>
  <div
    :style="{
      width: `${props.cellWidth}px`,
      backgroundColor: color,
      cursor: dayIsMileStone ? 'pointer' : 'auto'
    }"
    v-on="cellEventObject"
    class="task__table--cell"
  >
    <v-tooltip v-model="state.isMileStoneTooltipShow" v-if="dayIsMileStone" top>
      <template v-slot:activator="{ on }">
        <div v-on="on">{{ props.date.date() }}</div>
      </template>
      <span>{{ props.mileStones[props.date.format("YYYY-MM-DD")].desc }}</span>
    </v-tooltip>
    <div v-else>{{ props.date.date() }}</div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, reactive } from "@vue/composition-api";
import { Moment } from "moment";
import cellProps from "@/props/cellProps";
import { MileStoneState } from "@/props/states";
import { cellColor, isMileStone } from "@/logics/utilFunctions";
import { functionDefaultTemplate } from "@/props/templates";

interface Props {
  cellWidth: number;
  mileStones: MileStoneState;
  date: Moment;
  openMileStoneDialogEvent: (isNew: boolean, day?: string) => void;
}

export default defineComponent({
  name: "header-milestone-cell",
  props: {
    openMileStoneDialogEvent: { ...functionDefaultTemplate },
    ...cellProps
  },
  setup(props: Props) {
    // propsのgetCellColorとdateは一心同体で合わせて渡されるか渡されないかの二択
    const color = computed(() => cellColor(props.date, props.mileStones));

    const state = reactive({
      isMileStoneTooltipShow: false
    });
    const dayIsMileStone = computed(() =>
      isMileStone(props.mileStones, props.date)
    );

    const cellEventObject = computed(() =>
      dayIsMileStone.value
        ? {
            click: () =>
              props.openMileStoneDialogEvent(
                false,
                props.date.format("YYYY-MM-DD")
              )
          }
        : {}
    );

    return {
      color,
      state,
      props,
      dayIsMileStone,
      cellEventObject
    };
  }
});
</script>
