<template>
  <div
    class="task__table--body"
    ref="bodyContainer"
    @mouseleave="props.rowMouseLeaveEvent"
    :style="{ height: `${props.bodyHeight}px` }"
  >
    <div
      class="task__table--body-header"
      :style="{ width: `${props.colHeaderWidth}px` }"
    >
      <div
        v-for="(task, n) of props.tasks"
        :key="`${n}-body-col-header`"
        class="task__table--body-projects"
        :style="{
          width: `${props.colHeaderWidth}px`,
          backgroundColor: props.hoverRow === n ? rgbaColor : null
        }"
        @mouseenter="props.rowMouseEnterEvent(n)"
      >
        <div
          class="task__table--body-projects-container"
          @click="props.openTaskDialogEvent(false, n)"
        >
          <div class="task__table--body-project-name">
            {{ task.name }}
          </div>
          <div class="task__table--body-project-user">
            {{ task.assign.name }}
          </div>
          <div class="task__table--body-project-start">
            {{ task.start.format("MM/DD") }}
          </div>
          <div class="task__table--body-project-end">
            {{ task.end.format("MM/DD") }}
          </div>
          <div class="task__table--body-project-progress">
            {{ task.progress }}%
          </div>
        </div>
      </div>
    </div>
    <div
      class="task__table--body-contents"
      ref="bodyContentContainer"
      :style="{
        width: `${props.bodyWidth}px`
      }"
    >
      <svg
        v-if="props.isInazumaShow"
        class="now-line"
        width="5"
        :height="props.contentsTotalHeight"
        :style="{ left: props.nowLineLeft - 1.5, overflow: 'visible' }"
      >
        <polyline
          fill="none"
          stroke="red"
          stroke-width="3"
          :points="props.inazumaPoints"
        />
      </svg>
      <div
        v-for="(task, n) of props.tasks"
        :key="`${n}-gantts`"
        class="task__table--body-gantts"
        :style="{
          width: `${props.tableTotalWidth}px`,
          backgroundColor: props.hoverRow === n ? rgbaColor : null
        }"
        @mouseenter="props.rowMouseEnterEvent(n)"
      >
        <svg
          class="gantt-line"
          :width="props.calcTaskLength(task.start, task.end)"
          height="15"
          :style="{ left: props.calcTaskLineLeft(task.start) }"
        >
          <title>{{ task.name }}</title>
          <rect
            rx="7.5"
            ry="7.5"
            x="0"
            y="0"
            :width="props.calcTaskLength(task.start, task.end)"
            height="15"
            :fill="barColor"
          />
          <rect
            rx="7.5"
            ry="7.5"
            x="0"
            y="0"
            :width="
              props.calcTaskLength(task.start, task.end) * (task.progress / 100)
            "
            height="15"
            :fill="diffBarColor"
          />
        </svg>
        <!-- TODO: これ別にいらないきがしてきた -->
        <template v-for="(date, idx) in props.between">
          <cell
            :date="date"
            :cellWidth="cellWidth"
            :mileStones="props.mileStones"
            :key="`${idx}-${n}-gantt-cell`"
          />
        </template>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, ref, watch } from "@vue/composition-api";
import taskTableContentInitProps from "@/props/taskTableContentProps";
import { MileStone, ProjectTask } from "@/interfaces/task_interfaces";
import { Moment } from "moment";
import { computedCellSize } from "@/logics/consts";
import Cell from "@/components/task_table/common/Cell.vue";
import { hex2rgbaString } from "@/logics/utilFunctions";

interface Props {
  colHeaderWidth: number;
  bodyHeight: number;
  bodyWidth: number;
  nowLineLeft: number;
  inazumaPoints: string;
  hexColor: string;
  contentsTotalHeight: number;
  tableTotalWidth: number;
  rowMouseEnterEvent: (n: number) => void;
  rowMouseLeaveEvent: () => void;
  openTaskDialogEvent: (isOpen: boolean, n: number) => void;
  tasks: ProjectTask[];
  between: Moment[];
  mileStones: { [key: string]: MileStone };
  isInazumaShow: boolean;
  calcTaskLineLeft: (day: Moment) => number;
  calcTaskLength: (start: Moment, end: Moment) => number;
  scrollX: number;
  scrollY: number;
  hoverRow: number;
}

export default defineComponent({
  name: "task-table-content",
  props: taskTableContentInitProps,
  components: {
    Cell
  },
  setup(props: Props) {
    const bodyContentContainer = ref<HTMLDivElement>(null);
    const bodyContainer = ref<HTMLDivElement>(null);
    const cellWidth = computedCellSize;
    const contentsTotalHeight = computed(
      () => props.tasks.length * cellWidth.value
    );
    watch(() => {
      bodyContentContainer.value!!.scrollBy(props.scrollX, 0);
    });
    watch(() => {
      bodyContainer.value!!.scrollBy(0, props.scrollY);
    });
    const rgbaColor = computed(() => hex2rgbaString(props.hexColor, 0.22));
    const barColor = computed(() => hex2rgbaString(props.hexColor, 1.0));
    const diffBarColor = computed(() =>
      hex2rgbaString(props.hexColor, 1.0, 0.7)
    );

    return {
      props,
      cellWidth,
      contentsTotalHeight,
      bodyContainer,
      bodyContentContainer,
      rgbaColor,
      barColor,
      diffBarColor
    };
  }
});
</script>
<style lang="scss" scoped>
$borderColor: #b6b6b6;
div.task__table {
  &--body {
    box-sizing: border-box;
    width: 100%;
    border-bottom: solid 1px $borderColor; // つけると最下部までスクロール後隙間ができる
    overflow-y: hidden;

    &-header,
    &-contents {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      overflow: hidden;
      z-index: 0;
    }

    &-header {
      z-index: 1;
      border-right: solid 1px $borderColor;
    }

    &-projects,
    &-gantts {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      height: 30px;
      vertical-align: top;
      line-height: 30px;

      // &:hover {
      //   background-color: $hoverColor !important;
      // }
    }

    &-projects {
      overflow: hidden;
      text-align: right;
      border-bottom: solid 1px $borderColor;

      &-container {
        box-sizing: border-box;
        height: 100%;
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 410px; // TODO: 仮
        cursor: pointer;
      }
    }

    &-project {
      &-name,
      &-user,
      &-start,
      &-end,
      &-progress {
        text-align: center;
        box-sizing: border-box;
        height: 100%;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        border-right: solid 1px $borderColor;
        font-size: 14px;
      }

      &-name {
        width: 150px;
      }

      &-user {
        width: 100px;
      }

      &-start,
      &-end,
      &-progress {
        width: 50px;
      }
      &-progress {
        width: 60px;
      }
    }
  }
}
svg.gantt-line {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
</style>
