<template lang='pug'>
  div#app
    v-app#inspire
      v-navigation-drawer(fixed v-model='drawer' app)
        SideBar
      v-toolbar(color='indigo' dark fixed app)
        v-toolbar-side-icon(@click.stop='drawer = !drawer')
        v-toolbar-title Viewer
      v-content
        v-container(fluid fill-height)
          v-layout(justify-center align-center)
            v-flex(text-xs-center)
              router-view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SideBar from '@/components/organisms/SideBar.vue';

@Component({
  components: {
    SideBar
  }
})
export default class App extends Vue {
  drawer = null;
}
</script>

<style>
</style>

