<template>
  <div>
    <button @click="addPhotoEvent">Photo追加</button>
    <p v-for="(photo, idx) of photos" :key="idx">
      <span>{{ photo.id }}、</span>
      <span>{{ photo.name }}、</span>
      <span>{{ photo.url }}、</span>
      <span>{{ photo.description }}、</span>
      <button @click="updatePhotoEvent(photo.id)">Photoを更新</button>
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "@vue/composition-api";
import { ALL_PHOTO, queryAllPhotos } from "./graphql/query";
import { CREATE_PHOTO, UPDATE_PHOTO } from "./graphql/mutation";
import { useResult, useMutation } from "@vue/apollo-composable";
import { allPhotos } from "@/graphql/types/allPhotos";

interface State {
  photoId: string;
  updatePhoto: { name: string; description: string } | null;
}

export default defineComponent({
  name: "App",
  setup() {
    const state = reactive<State>({
      photoId: "",
      updatePhoto: null
    });

    const { result } = queryAllPhotos();

    const { mutate: createPhoto } = useMutation(CREATE_PHOTO, () => ({
      variables: {},
      update: (cache, { data: { createPhoto } }) => {
        const data = cache.readQuery<allPhotos>({ query: ALL_PHOTO });
        if (!data) return;
        data.allPhotos = createPhoto;
        cache.writeQuery({ query: ALL_PHOTO, data });
      }
    }));

    // 現在持っているデータ更新用の処理を書く必要がない
    const { mutate: updatePhoto } = useMutation(UPDATE_PHOTO, () => ({
      variables: { id: parseInt(state.photoId), input: state.updatePhoto }
    }));

    const photos = useResult(result, null);

    const addPhotoEvent = async () => {
      await createPhoto();
    };

    const updatePhotoEvent = async (id: string) => {
      const now = new Date();
      state.photoId = id;
      state.updatePhoto = {
        name: `${now.toString()}に更新したPhoto`,
        description: `${now.toString()}に更新したPhotoの詳細`
      };

      await updatePhoto();

      state.photoId = "";
      state.updatePhoto = null;
    };
    return {
      state,
      photos,
      addPhotoEvent,
      updatePhotoEvent
    };
  }
});
</script>

<style lang="scss"></style>
