<template>
  <button type="button" @click="createChart">グラフを作成</button>
  <canvas id="myChart" width="400" height="400"></canvas>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from "vue";
import Chart, { ChartData, ChartOptions } from "chart.js";

interface State {
  chartData: ChartData;
  chartOptions: ChartOptions;
}

export default defineComponent({
  name: "HelloWorld",
  setup: () => {
    const state = reactive<State>({
      chartData: {},
      chartOptions: {},
    });
    const renderChart = () => {
      const elem = document.getElementById("myChart");
      if (!elem) return;
      const ctx = (elem as HTMLCanvasElement).getContext("2d");
      if (!ctx) return;

      const myChart = new Chart(ctx, {
        type: "bar",
        data: state.chartData,
        options: state.chartOptions,
      });
    };

    const createChartData = async () => {
      state.chartData = {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [
          {
            label: "# of Votes",
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      };
    };

    const createChart = async () => {
      await createChartData();
      state.chartOptions = {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      };
      renderChart();
    };

    onMounted(() => renderChart());
    return { state, createChart };
  },
});
</script>

<style scoped>
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
</style>
